---
layout: layouts/base.njk
title: Lighthouse|Home
---



<div
  class="hero-wrap js-fullheight"
  style="background-image: url(/images/xbg_1.jpg.pagespeed.ic.BfS7AqcH3v.webp)"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-10 text-center ftco-animate"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <h1 class="mb-0">Welcome to Lighthouse</h1>
        <h3 class="subheading mb-4 pb-1">
          Submit your presence to the creator of the universe
        </h3>
        <p>
          <a href="#" class="btn btn-white py-3 px-4"
            ><span class="icon-play-circle"></span> Live Stream</a
          >
        </p>
        <div class="mouse">
          <a href="#" class="mouse-icon">
            <div class="mouse-wheel">
              <span class="ion-ios-arrow-down"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<section
  class="ftco-intro py-5"
  style="background-image: url(/images/xbg_4.jpg.pagespeed.ic.2Ciqmr12Q6.webp)"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 ftco-animate">
        <h2 class="subheading">
          <span class="icon-calendar"></span> Upcoming Events
        </h2>
        <h2>
          <a href="#"
            >"The Law Demands, but Grace Supplies" &mdash; Pastor John Doe
          </a>
        </h2>
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate">
        <div id="timer" class="d-flex mb-3">
          <div class="time" id="days"></div>
          <div class="time pl-4" id="hours"></div>
          <div class="time pl-4" id="minutes"></div>
          <div class="time pl-4" id="seconds"></div>
        </div>
        <p>
          <a href="#" class="btn btn-primary px-4 py-2">Join our event</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-daily-verse bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 daily-verse text-center p-5">
        <span class="flaticon-bible"></span>
        <h3 class="ftco-animate">
          "16 For God so loved the world, that he gave his only begotten Son,
          that whosoever believeth in him should not perish, but have
          everlasting life."
        </h3>
        <h4 class="h5 mt-4 font-weight-bold ftco-animate">
          &mdash; John 3:16 KJV
        </h4>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-12 text-center heading-section ftco-animate">
        <h2 class="mb-2"><span class="px-4">Lighthouse Services</span></h2>
        <span class="subheading">Church Services</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex services ftco-animate text-lg-right">
          <div
            class="icon order-lg-last d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-praying"></span>
          </div>
          <div class="media-body pr-lg-5">
            <h3 class="heading mb-3">Daily Prayers</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
        <div class="d-flex services ftco-animate text-lg-right">
          <div
            class="icon order-lg-last d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-church"></span>
          </div>
          <div class="media-body pr-lg-5">
            <h3 class="heading mb-3">Church Community</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
        <div class="d-flex services ftco-animate text-lg-right">
          <div
            class="icon order-lg-last d-flex align-items-center justify-content-center"
          >
            <span class="flaticon-bible"></span>
          </div>
          <div class="media-body pr-lg-5">
            <h3 class="heading mb-3">Teaching</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-flex services ftco-animate text-lg-left">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-social-care"></span>
          </div>
          <div class="media-body pl-lg-5">
            <h3 class="heading mb-3">Helpers</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
        <div class="d-flex services ftco-animate text-lg-left">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-rings"></span>
          </div>
          <div class="media-body pl-lg-5">
            <h3 class="heading mb-3">Wedding</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
        <div class="d-flex services ftco-animate text-lg-left">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-promotion"></span>
          </div>
          <div class="media-body pl-lg-5">
            <h3 class="heading mb-3">Events</h3>
            <p>
              A small river named Duden flows by their place and supplies it
              with the necessary regelialia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div
        class="col-md-12 text-center heading-section heading-section-light ftco-animate"
      >
        <h2 class="mb-2"><span class="px-4">Sermon for Today</span></h2>
        <span class="subheading">Experience God's Presence</span>
      </div>
    </div>
    <div class="row d-flex sermon-wrap">
      <div class="col-md-6 d-flex align-items-stretch ftco-animate">
        <div
          class="img"
          style="
            background-image: url(/images/xsermon-1.jpg.pagespeed.ic.fOnVom1H9m.webp);
          "
        ></div>
      </div>
      <div class="col-md-6 py-4 text ftco-animate">
        <h2 class="mb-4">
          <a href="sermon.html">Lord is Sufficient for all of our needs</a>
        </h2>
        <div class="meta">
          <p>
            <span>Sermon from: <a href="#" class="ptr">Felix Gonner</a></span>
            <span>Categories: <a href="#">God</a>, <a href="#">Pray</a></span>
            <span><a href="#">On Sunday 13 Jan, 2019</a></span>
          </p>
        </div>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia. It is a paradisematic country, in which
          roasted parts of sentences fly into your mouth. Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language
          ocean.
        </p>
        <p class="mt-4 btn-customize">
          <a
            href="https://vimeo.com/45830194"
            class="btn btn-primary px-4 py-3 mr-md-2 popup-vimeo"
            ><span class="icon-play"></span> Watch Sermons</a
          >
          <a href="#" class="btn btn-black px-4 py-3 ml-lg-2"
            ><span class="icon-download"></span> Download Sermons</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-last d-flex flex-column align-items-stretch">
        <div
          class="img d-flex align-self-stretch align-items-center justify-content-center"
          style="
            background-image: url(/images/xabout.jpg.pagespeed.ic.Vq_ksevcsj.webp);
          "
        >
          <div class="desc">
            <h3><a href="#" class="p-2">Sunday Services</a></h3>
          </div>
        </div>
        <div
          class="img d-flex align-self-stretch align-items-center justify-content-center"
          style="
            background-image: url(/images/xabout-2.jpg.pagespeed.ic.mzzNhWtlXm.webp);
          "
        >
          <div class="desc">
            <h3><a href="#" class="p-2">Announcement</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-5 py-5">
        <div class="row justify-content-start pt-3 pb-3">
          <div
            class="col-md-12 heading-section heading-section-no-line ftco-animate"
          >
            <h2 class="mb-4">About Lighthouse</h2>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-6 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div
                  class="icon d-flex justify-content-center align-items-center"
                >
                  <span class="flaticon-bible"></span>
                </div>
                <strong class="number" data-number="70000">0</strong>
                <span>Members</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div
                  class="icon d-flex justify-content-center align-items-center"
                >
                  <span class="flaticon-bible"></span>
                </div>
                <strong class="number" data-number="1000">0</strong>
                <span>Pastors</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div
                  class="icon d-flex justify-content-center align-items-center"
                >
                  <span class="flaticon-bible"></span>
                </div>
                <strong class="number" data-number="100000">0</strong>
                <span>Donation</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center py-4 bg-light mb-4">
              <div class="text">
                <div
                  class="icon d-flex justify-content-center align-items-center"
                >
                  <span class="flaticon-bible"></span>
                </div>
                <strong class="number" data-number="100">0</strong>
                <span>Churches</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section testimony-section"
  style="background-image: url(/images/xbg_3.jpg.pagespeed.ic.5KuHbBZWEr.webp)"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div
        class="col-md-7 text-center heading-section heading-section-white ftco-animate"
      >
        <h2 class="mb-2">Inspirational Testimony</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="
                  background-image: url(/images/xperson_1.jpg.pagespeed.ic.9dJ0UoylkF.webp);
                "
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Arthur Browner</p>
                <span class="position">Member</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="
                  background-image: url(/images/xperson_2.jpg.pagespeed.ic.336NftRDi2.webp);
                "
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Arthur Browner</p>
                <span class="position">Member</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="
                  background-image: url(/images/xperson_3.jpg.pagespeed.ic.uXRWIVCMLJ.webp);
                "
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Arthur Browner</p>
                <span class="position">Member</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="
                  background-image: url(/images/xperson_4.jpg.pagespeed.ic.3rJPG5vDnM.webp);
                "
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Arthur Browner</p>
                <span class="position">Member</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div
                class="user-img mb-4"
                style="
                  background-image: url(/images/xperson_3.jpg.pagespeed.ic.uXRWIVCMLJ.webp);
                "
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text p-3">
                <p class="mb-4">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Arthur Browner</p>
                <span class="position">Member</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 py-5">
        <div class="heading-section heading-section-no-line ftco-animate mb-5">
          <h2 class="mb-2">Upcoming Events</h2>
          <span class="subheading">Experience God's Presence</span>
        </div>
        <div class="event-wrap d-md-flex ftco-animate">
          <div
            class="img"
            style="
              background-image: url(/images/xsermon-1.jpg.pagespeed.ic.fOnVom1H9m.webp);
            "
          ></div>
          <div class="text pl-md-5">
            <h2 class="mb-3">
              <a href="sermons.html">Know Jesus Christ Better Through Lines</a>
            </h2>
            <div class="meta">
              <p>
                <span
                  ><i class="icon-calendar mr-2"></i> Monday, 8:00 Am - Tuesday,
                  8:00 Pm</span
                >
                <span
                  ><i class="icon-my_location mr-2"></i>
                  <a href="#">Light House</a></span
                >
                <span
                  ><i class="icon-location_city mr-2"></i> 203 Fake St. Mountain
                  View, San Francisco, California, USA</span
                >
              </p>
            </div>
            <p>
              <a href="sermons.html" class="btn btn-primary">Read more</a>
            </p>
          </div>
        </div>
        <div class="event-wrap d-md-flex ftco-animate">
          <div
            class="img"
            style="
              background-image: url(/images/xsermon-2.jpg.pagespeed.ic.Vq_ksevcsj.webp);
            "
          ></div>
          <div class="text pl-md-5">
            <h2 class="mb-3">
              <a href="sermons.html">Know Jesus Christ Better Through Lines</a>
            </h2>
            <div class="meta">
              <p>
                <span
                  ><i class="icon-calendar mr-2"></i> Monday, 8:00 Am - Tuesday,
                  8:00 Pm</span
                >
                <span
                  ><i class="icon-my_location mr-2"></i>
                  <a href="#">Light House</a></span
                >
                <span
                  ><i class="icon-location_city mr-2"></i> 203 Fake St. Mountain
                  View, San Francisco, California, USA</span
                >
              </p>
            </div>
            <p>
              <a href="sermons.html" class="btn btn-primary">Read more</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="subsermon p-5">
          <h2 class="heading mb-5 ftco-animate">Recent Sermons</h2>
          <div class="sermon-wrap mb-4 ftco-animate">
            <a
              href="sermons.html"
              class="img mb-3"
              style="
                background-image: url(/images/xevent-1.jpg.pagespeed.ic.ZTtHt89BYq.webp);
              "
            ></a>
            <div class="text">
              <h2 class="mb-4">
                <a href="sermon.html"
                  >Lord is Sufficient for all of our needs</a
                >
              </h2>
              <div class="meta">
                <p>
                  <span
                    >Sermon from: <a href="#" class="ptr">Felix Gonner</a></span
                  >
                  <span
                    >Categories: <a href="#">God</a>, <a href="#">Pray</a></span
                  >
                  <span><a href="#">On Sunday 13 Jan, 2019</a></span>
                </p>
              </div>
              <p class="mt-4">
                <a
                  href="https://vimeo.com/45830194"
                  class="btn-custom p-2 text-center popup-vimeo"
                  ><span class="icon-play"></span> Watch Sermons</a
                >
              </p>
            </div>
          </div>
          <a
            href="sermons.html"
            class="sermon-wrap sermon-wrap-2 d-flex align-items-start py-3 ftco-animate"
          >
            <div class="icon">
              <span class="icon-play"></span>
            </div>
            <div class="desc">
              <h3>Fruit of the Spirit</h3>
              <span class="time">20:30 mins</span>
            </div>
          </a>
          <a
            href="sermons.html"
            class="sermon-wrap sermon-wrap-2 d-flex align-items-start py-3 ftco-animate"
          >
            <div class="icon">
              <span class="icon-play"></span>
            </div>
            <div class="desc">
              <h3>Fruit of the Spirit</h3>
              <span class="time">20:30 mins</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-stretch">
        <!-- <div id="map"></div> -->
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="850"
              height="540"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe
            ><a href="https://putlocker-is.org">putlocker</a><br /><style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 500px;
                width: 600px;
              }</style
            ><a href="https://www.embedgooglemap.net"
              >custom google maps embed</a
            ><style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 500px;
                width: 600px;
              }
            </style>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-section-parallax bg-secondary ftco-no-pb">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white heading-section-no-line ftco-animate"
        >
          <h2>Newsletter</h2>
          <p>
            Suscribe to our newsletter for regular words of encouragement in
            faith
          </p>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                  <input type="submit" value="Subscribe" class="submit px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
